<!DOCTYPE html>

<html>
    <head>
        <style>
            h1 {text-align: center; font-family: Arial;}
            p {text-align: center; font-family: Helvetica;}
            img {width:250px; height:250px;}
            ul {text-align: center;}
        </style>
    </head>
    <body style = "background-color: powderblue;">
        <br><br>

        <h1> Welcome to McDonald's Secret Menu! </h1>
        
        <center>
            <img src = "https://play-lh.googleusercontent.com/oo_2CLgGfUSjob9K5nCgg07gL7h3eMZwRVY_DhTY3f7I1KRJuAZ3KvxwVX6_QSBkvw">
        </center>
        
        <br>
        <p> See offers you won't regularly see in the menu: </p>
        <br>
        <p> <a href = '/options/Meals'> Meals </a> </p>
        <p> <a href = '/options/Sandwiches'> Sandwiches </a> </p>
        <p> <a href = '/options/Drinks'> Drinks </a> </p>
        <br>
        <p> <a href = '/form'> Click here if you know what to order! </a></p>
        
    </body>
</html>